.cart-panel {
    width: 200px;
    padding: 20px;
    border: rgb(199,199,199) 1px solid;
    margin-left: 110px;
    border-radius: 5px;
}

.cart-btn {
    background-color: rgb(255,216,20);
    border-radius: 9px;
    border-color: rgb(255,216,20);
    margin-top: 10px;
    margin-bottom: 15px;

    
}

.cart-btn:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05) 0 0);
}

.free-return, .eligible {
    color: rgb(29,128,146);
}

.cart-show-container {
    p{
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.chevron {
    color: gray;
}

.show-price {
    color: rgb(177,39,4);
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.prime-parent {
    position: relative;
}

.free {
    padding-top: 5px;
    font-size: 15px;
    padding-bottom: 5px;
}

.prime-logo {
    margin-top: 0px;
    width: 55px;
    padding-bottom: 2px;
    margin-left: 5px;
 
}

.one-day {
    position: absolute;
    top: .1em;
    margin-left: 1px;
}

.in-stock {
    color: rgb(50,145,50);
    font-size: 20px;
    padding-bottom: 10px;

}

.secure {
    color:rgb(29,128,146);
    font-size: 18px;
    margin-bottom: 10px;

}


.sold {
    font-size: 14px;
}

.gray {
    margin-bottom: 0px;
    color:gray;
    font-size:14px;
    margin-top: 5px;
}

.gift {
    padding-top: 15px;
    display:flex;
    justify-content: start;
    input, label {
        margin: 0px;
        width: 600px;
        margin-left: 1px;
    }
}

.gift input {
    width:50px;
}

.cart-show-container {
    p {
        line-height: 1.2;
    }
}

.dot {
    color: black;
}

.qty-btn {
    background-color: rgb(240,242,242);
    width: 70px;
    border-radius: 5px;
    margin-bottom: 5px;
    option{
        text-align: center;
        font-size: .1px;
    }
}

.qty-btn:hover {
    background-color: lightgray
}

.delivery {
    font-size: 15px;

    span {
        font-weight: bold;
    }
}



