.container {
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}


.carousel-item {
        display: inline-block;
        img {
            max-width: 100%;
        }
}

.carousel-inner {
    white-space: nowrap;
    transition: ease 1s;
}

.carousel-control {
    position: absolute;
    background-color: none;
    border: none;
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 70px;
    top: calc(50%-25px);
    color: black;;
    cursor: pointer;
}

.left {
    left:0
}

.right {
    right:0
}