.not-found {
    margin-top: 250px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-weight: bold;
        font-size: 100px;
    }

    h2 {
        font-weight: bold;
        font-size: 80px;
    }

    a {
        margin-top: 30px;
        width: 300px;
        text-align: center;
    }

}