.review-show-container {
    width: 400px;
}

.product-show-container {
   display: flex;
   margin: 10px;
   width: 100%
 
}
.product-info {
    display:flex;
    flex-direction: column;
    width: 500px; 
    margin-left: 20px;
    p {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.show-image-container {
    margin-left: 20px;
    margin-right: 20px;
    width: 700px;
    display:flex;
    justify-content: center;
    align-items: center;
    max-height: 75vh;

}

.show-image {
    padding-top: 30px;
    box-sizing:border-box;
    max-width: 100%;
    max-height: 100%;
}

.product-info li {
    width: 100%;
    font-size: 14px;
    list-style-position: inside;
    padding: 10px 0 10px 25px;
    text-indent: -1.5em;
    line-height: 1.2;
}

.show-title{
    margin-top: 30px;
    font-weight: bold;
    font-size: 25px;
   
}

.description-container {
    display:flex;
    flex-direction: column;
    width: 800px;
    padding: 20px;
    font-size: 30px;
    margin-left:20px;
    margin-right:20px;
    border-bottom: solid 1px rgb(231,231,231);
    h3 {
        width:100%;
        color: rgb(204,101,2)
    }
    p {
        width: 100%;
        margin-top: 20px;
        margin-left: 40px;
        color: black;
        font-size: 14px;
        padding: 20px 30px;
    }
}

.review-section {
    margin: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    display:flex;
    justify-content: left;;
}

.user-review {
    padding: 10px 40px 50px;
    margin: 20px;
    h2 {
        font-weight: bold;
        padding: 0px 0px 30px;
        font-size: 20px;
        border-bottom: 5px;
    }
    h3 {
        font-weight: bold;
        border-bottom: 5px;
    }
    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.review-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.product-info  .show-price {
        font-size: 30px;
}

.show-price {
    position:relative;
}

.show-price:before {
    position: absolute;
    content: '$';
    font-size: 20px;
    bottom: 10px;
    left: 5px;
    font-weight: 100;
}

.user-review .review-btn {
    width: 110px;
    margin-right: 30px;
    padding: 5px;
}

.edit-btn {
    margin-top: 5px;
    width: 110px;
    background-color: white;
    border: lightgray 2px solid;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 25px;
}

.currentUser {
    font-size: 14px;
}

.review-logo {
    width: 30px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.avatar-user {
    display:flex;
    align-items: center;
    p {
        font-size: 12px;
        padding-bottom:8px;
    }
}



.avatar-container {
    margin-bottom: 15px;
}


.date {
    color:rgb(86,89,89);
    font-size: 14px;
}

.review-headline {
    width:600px;
    font-size: 14px;
}

@media (max-width:942px) {
    .cart-panel {
        margin:20px 50px;
    }
    li {
        list-style-type: none;
        text-indent:0;
    }

    .show-title {
        font-size: 20px;
    }

    .product-info .show-price {
        font-size: 20px;
    }

    .show-price:before {
        position: absolute;
        content: '$';
        font-size: 15px;
        bottom: 10px;
        left: 2px;
        font-weight: 100;
    }

    .cart-show-container .show-price {
        font-size:20px;
    }

    .product-info li {
        text-indent: 0em;
        padding:5px;
    }

    .show-image {
        min-height: 227px;
    }

    .show-image-container {
        margin-right: 10px;
        margin-left: 10px;
    }

    .product-info {
        margin-left: 10px;
    }
}

@media (max-width: 650px) {
    .product-show-container {
        flex-direction: column;
    }

    .product-show-container :nth-child(1) { order: 2;}
    .product-show-container :nth-child(2) { order: 1;}
    .product-show-container :nth-child(3) { order: 3;}
    
    .product-info :nth-child(1) { order:3 }
    .product-info :nth-child(2) { order:1 }
    .product-info :nth-child(3) { order:3 }
    .product-info :nth-child(4) { order:4 }
}