
.product-show-container {
  gap:10px;
  margin-top: 20px;
  display: grid;
  width: 100%;
  grid-template: 
  "show-image            product-info          cart-panel"            auto
  "description-container description-container description-container" auto
  "review-show-container review-section        review-section "       auto /
  1fr                    1fr                    1fr;
  
  .show-image {
    grid-area: show-image;
    max-height: 300px;
    object-fit: contain;
    width: 100%;
    height:100%;
    display:flex;

  }

  .gift label {
    margin-left:5px;
  }

  .product-info {
    grid-area: product-info;
  }

  .cart-panel {
    grid-area: cart-panel;
  }

  .description-container {
    grid-area: description-container;
    margin-left: 20px;
    max-width: 100vw;
    h3 {
      font-weight:bold;
      color: rgb(206,110,13)
    }

    p {
      padding: 0px 50px 0px 10px;
      margin-top:10px;
      margin-left:20px;
    }
  }

  .review-section {
    grid-area: review-section;
    margin-left: 0px;
    margin: 0px;
  }

  .review-show-container {
    grid-area: review-show-container;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
 
}

.product-info li {
  width: 100%;
  font-size: 14px;
  list-style-position: inside;
  padding: 10px 0 10px 25px;
  text-indent: -1.5em;
  line-height: 1.2;
}

.show-title {
  font-weight: bold;
  font-size: 25px;
}

.review-section {
  margin: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
}

.user-review {
  padding: 10px 40px 50px;
  margin: 20px;
  h2 {
    font-weight: bold;
    padding: 0px 0px 30px;
    font-size: 20px;
    border-bottom: 5px;
  }
  h3 {
    font-weight: bold;
    border-bottom: 5px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.review-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-info .show-price {
  font-size: 30px;
}

.show-price {
  position: relative;
}

.show-price:before {
  position: absolute;
  content: "$";
  font-size: 20px;
  bottom: 10px;
  left: 5px;
  font-weight: 100;
}

.user-review .review-btn {
  width: 110px;
  margin-right: 30px;
  padding: 5px;
}

.edit-btn {
  margin-top: 5px;
  width: 110px;
  background-color: white;
  border: lightgray 2px solid;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 25px;
}

.currentUser {
  font-size: 14px;
}

.review-logo {
  width: 30px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.avatar-user {
  display: flex;
  align-items: center;
  p {
    font-size: 12px;
    padding-bottom: 8px;
  }
}

.avatar-container {
  margin-bottom: 15px;
}

.date {
  color: rgb(86, 89, 89);
  font-size: 14px;
}

.review-headline {
  width: 600px;
  font-size: 14px;
}

@media (max-width: 942px) {
  .cart-panel {
    margin: 20px 50px;
  }
  li {
    list-style-type: none;
    text-indent: 0;
  }

  .show-title {
    font-size: 20px;
  }

  .product-info .show-price {
    font-size: 20px;
  }

  .show-price:before {
    position: absolute;
    content: "$";
    font-size: 15px;
    bottom: 10px;
    left: 2px;
    font-weight: 100;
  }

  .cart-show-container .show-price {
    font-size: 20px;
  }

  .product-info li {
    text-indent: 0em;
    padding: 5px;
  }

  .product-info {
    margin-left: 10px;
  }
}

@media (max-width: 650px) {
    .product-show-container {
        grid-template:
        "product-info"           auto
        "show-image"             auto       
        "description-container"  auto
        "review-section"         auto    
        "cart-panel"             auto 
        "review-show-container"  auto /
        1fr;                   
    }     
}
