.customer-review-container {
    padding: 10px 0px 20px;
    width: 410px;
    border-bottom: rgb(231,231,231) solid 1px;
    h4 {
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    p {
        padding-bottom: 30px;
        width: 200px;
        font-size: 16px;
    }
}

.star {
    font-size: 3em;
    cursor: pointer;
    outline: red;
}

.displaystar {
    font-size: 1em;
}

.review-headline {
    width: 300px;
}

.review {
    width: 400px;
    font-size: 24px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: rgb(231,231,231) 1px solid;
 p {
     width: 400px;
 }
}



.rating {
    display:flex;
}

.reviewbtn {
    margin-top: 5px;
    background-color: rgb(255,255,255);
    border: rgb(214,217,217) 2px solid;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px 35px;

}


input[type='radio'] {
    display:none;
}

.review-header {
    margin-left: 20px;
}


