.review-page {
    display:flex;
    justify-content: center;
    margin-top: 30px;
    h1 {
        font-size: 35px;
        font-weight: bold;    
    }
}

.username {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
    background-color: rgb(221,250,255);
    padding: 12px;
    padding-right: 840px;
    font-size: 16px;
    padding-left: 60px;
    img {
        width: 30px;
        margin-right: 10px;
    }
   
}
.review-container {
    
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;

    img {
        width: 300px;
        margin-bottom: 20px;
    }
    h2 {
        margin-top: 10px;
        font-size: 25px;
        font-weight: bold;
    }

    input {
        margin-top: 16px;
        border-radius: 3px;
        border: 2px solid lightgray;

    }
    
    input:focus {
        outline: rgb(240,143,30);
        background-color: rgb(246,254,255);
        box-shadow: 0 0 0 2.5px rgb(240,143,30);
    }
    ::placeholder{
        font-size: 18px;
    }

  

}

textarea {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin-top: 16px;
    border-radius: 3px;
    border: 2px solid lightgray;
    margin-bottom: 20px;
}

textarea:focus {
    outline: rgb(240,143,30);
    background-color: rgb(246,254,255);
    box-shadow: 0 0 0 2.5px rgb(240,143,30);
}


.review-form {
    display:block;
}

.submit-form {
    background-color: rgb(255,215,18);
    width: 80px;
    border-color: lightgray 2px solid;
}