
.entire-page {
    background-color: rgb(234,237,237);
    height: 2000px;
    width: auto;
    display:flex;
    gap: 5px;
}

.checkout-btn {
    background-color: rgb(255,216,20);
    border-radius: 9px;
    border-color: rgb(255,216,20);
    padding: 6px 40px;
    font-size: 13px;    
}

.subtotal {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
}

.shopping-cart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding: 20px;

    span {
        padding: 0px;
        margin-bottom: -20px;
    }
}

.total-cost {
    font-weight: bold;
    font-size: 20px;
}

