.entire-page {
    background-color: rgb(234,237,237);
    height: 2000px;
    width: auto;
    display:flex;
    gap: 5px;
}

.checkout-btn {
    background-color: rgb(255,216,20);
    border-radius: 9px;
    border-color: rgb(255,216,20);
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 6px 40px;
    font-size: 13px;
    
    
}


